body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    margin:0;
    font-family: sans-serif; 
    background-color: #E2A68E;
  }
  
  *{
    font-family: "Verdana", cursive, sans-serif;
  }